In [6]:
import pandas as pd

# Woking with JSON

In [7]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [13]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,0.0489
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,1.2500
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,1.4200
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,6.3900
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,0.0238
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,1.3900
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,3.3300
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,0.2020
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,0.2480
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2022-02-11,1644537601,1.5700

# Working with SQL

In [9]:
import mysql.connector

In [10]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='mysql')

In [14]:
type(conn)

mysql.connector.connection.MySQLConnection

In [18]:
mycursor = conn.cursor()

In [20]:
mycursor.execute('SELECT * From help_keyword')
data = mycursor.fetchall()

In [24]:
type(data)

list

In [28]:
df = pd.DataFrame(data)

In [29]:
df

     0                       1
0    1                 account
1    2               aggregate
2    3                     add
3    4                   after
4    5                   alter
5    6              completion
6    7                schedule
7    8                  server
8    9                 columns
9   10                    drop
10  11                 analyze
11  12                    json
12  13                   value
13  14           master_ssl_ca
14  15  master_ssl_verify_cert
15  16                   nchar
16  17                  action
17  18                  create
18  19                      at
19  20                  starts
20  21                 returns
21  22                    host
22  23              row_format
23  24      deallocate prepare
24  25            drop prepare
25  26                 against
26  27                fulltext
27  28                  escape
28  29                    mode
29  30                  repeat
30  31          sql_big_result
31  32               isolation
32  33          read committed
33  34        read uncommitted
34  35         repeatable read
35  36            serializable
36  37                    work

In [30]:
df.to_csv('db.csv')